.MainLayout {
    text-align: left;
    height: 100vh;
    .main-layout{
        height: inherit;
    }
    .trigger:hover {
        color: #1890ff;
    }
    .logo {
        display: flex;
        height: 32px;
        margin: 16px;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color: #ffffff;
        background: rgba(255, 255, 255, 0.2);
    }
    .header-setting{
        float: right;
    }
}